#event-s {
background-color: $backgroundColorDef;
background-repeat: no-repeat;
background-size: cover;
width: $fullWidth;
height: 100%;
}
.event-s-title {
font-size: 40px;
    #event-s-title-h2 {
        display:inline-block;
        border-bottom:10px solid rgb(94, 177, 255);
        border-radius: 20px;
        padding-bottom: 10px;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 245%;
    }
}
.event-s-li {
    height: 50%;    
    li {
        font-size: 25px;
        transform: translate(-50%, -50%);
        top: 90%;
        left: 83%;
        width: 80%;
        line-height: 150px;
        position: relative;
    }
}
.events-info {
    position: absolute;
    top: 263%;
    left: 44.5%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.658);
    text-decoration: none;
    text-shadow: rgba(255, 255, 255, 0.219) 0px 0px 5px;
  }
