@media only screen and (min-width: 2560px) {
    #scroll_anchor {
        left: 910px;
    }
}

@media only screen and (max-width: 1366px) {
    #bg-video {
        width: 1366px;
        height: 800px;
    }
    #scroll_anchor {
        top: 680px;
    }
    .fade-in {
        width: 1366px;
    }
    #section-title_title {
        font-size: 60px;
        margin-left: 200px;
        height: 500px;
    }
    #section-title {
        width: 1366px;
        height: 700px;
    }
    #section-about {
        width: 1366px;
    }
    #section-title_button-IP {
        font-size: 35px;
        width: 300px;
        top: 0px;
    }
    #section-title_button-Discord {
        font-size: 35px;
        width: 300px;
        top: 0px;
    }
}
