@media only screen and (min-width: 2560px) {
    .fade-in {
        width: 100%;
        height: 500px;
    }
    #section-events {
        height: 1500px;
    }
    #scroll_anchor {
        left: 1270px;
        top: 1250px;
    }
    #section-title_title {
        font-size: 190px;
        margin-left: 200px;
    }
    #section-title {
        width: 100%;
        height: 1200px;
    }
    #section-title_button-IP {
        font-size: 70px;
        width: 600px;
        top: 50px;
        margin-left: 480px;
    }
    #section-title_button-Discord {
        font-size: 70px;
        width: 600px;
        top: 50px;
    }
    #section-about_title {
        top: 50px;
        margin-left: 200px;
        font-size: 120px;
    }
    #section-about_paragraph {
        top: 50px;
        margin-left: 200px;
        font-size: 40px;
    }
    #section-about {
        height: 800px;
        width: 100%;
    }
    #section-events_maintitle {
        margin-left: 950px;
        font-size: 180px;
    }
    #section-events_event_title {
        margin-left: -500px;
        font-size: 110px;
    }
    #section-events_event_title2 {
        margin-left: -500px;
        font-size: 110px;
    }
    #section-events_event_title-date {
        top: -400px;
        margin-left: 800px;
    }
    #section-events_event_title-date2 {
        margin-left: 800px;
    }
    #section-events_event_title-description {
        top: -350px;
        margin-left: 800px;
    }
    #section-events_event_title-description2 {
        margin-left: 800px;
    }
}

@media only screen and (max-width: 1366px) {
    #bg-video {
        width: 100%;
        height: 800px;
    }
    #section-about {
        height: 500px;
    }
    #section-about_title {
        top: 100px;
    }
    #section-about_paragraph {
        top: 100px;
    }
    #scroll_anchor {
        top: 600px;
    }
    .fade-in {
        opacity: 1;
        width: 100%;
        height: 500px;
    }
    #section-title_title {
        font-size: 70px;
        margin-left: 200px;
    }
    #section-title {
        width: 100%;
        height: 500px;
    }
    #section-title_button-IP {
        font-size: 35px;
        width: 300px;
        top: 0px;
        margin-left: 200px;
    }
    #section-title_button-Discord {
        font-size: 35px;
        width: 300px;
        top: 0px;
    }
    #section-events_maintitle {
        margin-left: 500px;
        font-size: 100px;
    }
    #section-events_event_title {
        margin-left: -500px;
        top: 10px;
        font-size: 60px;
    }
    #section-events_event_title2 {
        margin-left: -500px;
        top: 230px;
        font-size: 60px;
    }
    #section-events_event_title-date {
        top: -190px;
        margin-left: 320px;
        font-size: 40px;
    }
    #section-events_event_title-date2 {
        margin-left: 320px;
        top: 20px;
        font-size: 40px;
    }
    #section-events_event_title-description {
        top: -165px;
        margin-left: 320px;
        font-size: 40px;
    }
    #section-events_event_title-description2 {
        margin-left: 320px;
        font-size: 40px;
        top: 50px;
    }
}
