@media screen and (max-width: 1000px) {
    .navbar a:not(:first-child) {display: none;}
    .navbar a.icon {
      float: left;
      display: block;
    }
  }
  
  @media screen and (max-width: 1000px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .navbar.responsive a {
      float: none;
      display: block;
      text-align: left;
      color: rgb(0, 0, 0);
    }
  }
  @media screen and (max-width: 999px) {
    .text_footer {
      top: 5%;
    }
    #text_footer-p {
      top: 0;
      font-size: 13px;
    }
    #h1_text-foooter-discord {
      top: 0;
      font-size: 20px;
    }
    .text-footer-email {
      top: 5%;
    }
    #h1_text-footer-email {
      font-size: 20px;
    }
    #text-footer-p-email {
      font-size: 13px;
    }
    #watermark {
      font-size: 10px;
      margin-left: 33%;
      margin-top: 20%;
    }
    #contact_info {
      height: 40%;
  }
  }

  @media screen and (min-width: 1000px) {
    .topnav a {
      padding: 12px 20px;
    }
    .text_footer {
      top: 10%;
    }
    #text_footer-p {
      top: 0;
      font-size: 16px;
    }
    #h1_text-foooter-discord {
      top: 0;
      font-size: 23px;
    }
    .text-footer-email {
      top: 10%;
    }
    #h1_text-footer-email {
      font-size: 23px;
    }
    #text-footer-p-email {
      font-size: 16px;
    }
    #watermark {
      font-size: 14px;
      margin-left: 40%;
      margin-top: 15%;
    }
  }
  @media screen and (min-width: 2560px) {
    .topnav a {
      padding: 12px 20px;
    }
    .text_footer {
      top: 13%;
    }
    #text_footer-p {
      top: 0;
      font-size: 20px;
    }
    #h1_text-foooter-discord {
      top: 0;
      font-size: 26px;
    }
    .text-footer-email {
      top: 13%;
    }
    #h1_text-footer-email {
      font-size: 26px;
    }
    #text-footer-p-email {
      font-size: 20px;
    }
    #watermark {
      font-size: 16px;
      margin-left: 43%;
      margin-top: 15%;
    }
  }
  @media screen and (max-width: 1300px) {
    #join-section-title1text {
        font-size: 17px;
    }
    .join-section-li {
        font-size: 15px;
    }
    #events-section-title1text {
        font-size: 17px;
    }
    .events-section-li {
        font-size: 15px;
    }
    #players-section-title1text {
        font-size: 17px;
    }
    .players-section-li {
        font-size: 15px;
    }
}
@media screen and (max-width: 800px) {
    #join-section-title1text {
        font-size: 12px;
    }
    .join-section-li {
        font-size: 10px;
    }
    #events-section-title1text {
        font-size: 12px;
    }
    .events-section-li {
        font-size: 10px;
    }
    #players-section-title1text {
        font-size: 12px;
    }
    .players-section-li {
        font-size: 10px;
    }
}
