html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  color: white;
  background-color: #030303;
  margin: 0;
  overflow-x: hidden;
}

.navbar {
  background-color: rgba(255, 0, 0, 0);
  position: fixed;
  width: 100%;
  height: 10%;
  top: 0;
  z-index: 1;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.navbar a {
  -webkit-filter: blur(0.44px);
          filter: blur(0.44px);
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  padding: 11px 40px;
  left: 34%;
  top: 25%;
  color: white;
  border-radius: 15px;
}

.navbar a:hover {
  color: white;
  text-shadow: rgba(255, 255, 255, 0.452) 0px 0px 5px;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#li-a {
  text-align: justify;
}

.parallax {
  /* The image used */
  background-image: url("resources/computerreducedfig1.gif");
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 80%;
  padding: 5px;
  text-align: center;
  border: 2px solid #ffffff;
  -ms-user-select: none;
      user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.main-title h1 {
  color: white;
  font-size: 60px;
  text-shadow: white 0px 0px 4px;
}

.main-title h2 {
  font-size: 20px;
}

#main-s {
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}

#join-s {
  background-color: #030303;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 120%;
}

.join-s-title {
  font-size: 40px;
}

.join-s-title h3 {
  position: absolute;
  font-size: 40px;
  top: 140%;
  left: 10%;
}

#join-s-title-h2 {
  display: inline-block;
  border-bottom: 10px solid #56c9ff;
  border-radius: 20px;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 120%;
}

#join-s-title-h3 {
  border-bottom: 4px solid #00aeff;
  padding-bottom: 7px;
}

#join-s-title-h4 {
  position: absolute;
  font-size: 40px;
  top: 180%;
  left: 10%;
  border-bottom: 4px solid #00aeff;
  padding-bottom: 7px;
}

.join-s-li {
  height: 50%;
}

.join-s-li li {
  list-style-type: none;
  font-size: 25px;
  top: 90%;
  left: 25%;
  width: 80%;
  line-height: 70px;
  position: relative;
}

.join-s-li2 {
  height: 50%;
}

.join-s-li2 li {
  list-style-type: none;
  font-size: 25px;
  top: 50%;
  left: 25%;
  width: 80%;
  line-height: 70px;
  position: relative;
}

#event-s {
  background-color: #030303;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.event-s-title {
  font-size: 40px;
}

.event-s-title #event-s-title-h2 {
  display: inline-block;
  border-bottom: 10px solid #ff3d3d;
  border-radius: 20px;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 245%;
}

.event-s-li {
  height: 50%;
}

.event-s-li li {
  font-size: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 90%;
  left: 80%;
  width: 80%;
  line-height: 130px;
  position: relative;
}

.events-info {
  position: absolute;
  top: 264%;
  left: 42%;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.253);
  text-decoration: none;
  text-shadow: rgba(255, 255, 255, 0.219) 0px 0px 5px;
}

#community-s {
  background-color: #030303;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 170%;
}

.community-s-title {
  font-size: 40px;
}

.community-s-title #community-s-title-h2 {
  display: inline-block;
  border-bottom: 10px solid #df3dff;
  border-radius: 20px;
  padding-bottom: 10px;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 350%;
}

.community-s-li {
  position: relative;
  height: 50%;
  top: 30%;
  left: 25%;
  height: 800px;
  width: 50%;
  overflow: hidden;
  overflow-y: scroll;
  background-color: #0a0a0c;
  border-radius: 10px;
}

.community-s-li li {
  list-style-type: none;
  font-size: 25px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 10%;
  left: 70%;
  width: 80%;
  line-height: 170px;
  position: relative;
}

.arrows {
  top: 80%;
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
  cursor: auto;
}

.arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

.arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.856);
}

#contact_info {
  height: 50%;
  width: 100%;
  background-color: #0a0a0a;
  color: white;
}

.text_footer {
  position: relative;
  width: 100%;
  height: 0%;
  top: 20%;
}

#h1_text-foooter-discord {
  margin-top: 0;
  position: relative;
  color: white;
  margin-left: 5%;
}

#footer-discord-link {
  color: white;
  cursor: pointer;
}

#text_footer-p {
  position: relative;
  color: #838383;
  font-size: 15px;
  line-height: 1.5;
  width: 30%;
  margin-left: 5%;
}

.text-footer-email {
  margin: 0;
  top: 0;
  position: relative;
  margin-left: 45%;
  line-height: 1.5;
  top: 20%;
}

#h1_text-footer-email {
  top: 0;
  position: relative;
  margin-left: 50%;
}

#text-footer-p-email {
  color: #838383;
  top: 0;
  position: relative;
  margin-left: 50%;
}

#footer-email-span {
  color: white;
}

#footer-span-webmanager {
  color: #7da0ff;
}

.footer-watermark {
  position: relative;
  bottom: 0;
}

#watermark {
  font-size: 13px;
  color: #838383;
  position: relative;
  margin-left: 42.5%;
  margin-top: 13%;
}

#footer-quincymcp {
  font-style: italic;
  font-weight: bold;
}

#footer-watermark-span {
  font-style: italic;
}

@media screen and (min-width: 2560px) {
  #watermark {
    font-size: 19px;
  }
  #text_footer-p {
    font-size: 20px;
  }
  .main-title h1 {
    font-size: 90px;
  }
  .navbar a {
    font-size: 25px;
  }
  .navbar a:hover {
    font-size: 27px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar a {
    opacity: 0;
  }
  .main-title {
    top: 20%;
  }
  .main-title h1 {
    font-size: 40px;
  }
  .join-s-title {
    font-size: 20px;
  }
  .join-s-title h3 {
    font-size: 20px;
  }
  .join-s-title {
    font-size: 20px;
  }
  .join-s-li li {
    top: 78%;
    font-size: 12px;
  }
  .join-s-li2 {
    height: 50%;
  }
  .join-s-li2 li {
    top: 45%;
    font-size: 12px;
  }
  #join-s-title-h4 {
    font-size: 20px;
  }
  .event-s-title {
    font-size: 20px;
  }
  .event-s-li li {
    font-size: 15px;
    left: 60%;
    line-height: 100px;
  }
  .events-info {
    top: 262%;
  }
  .community-s-title {
    font-size: 20px;
  }
  .community-s-li {
    height: 600px;
  }
  .community-s-li li {
    font-size: 15px;
    left: 65%;
    top: 20%;
    line-height: 110px;
  }
  #contact_info {
    height: 100%;
  }
  #text_footer-p {
    font-size: 10px;
  }
  #watermark {
    margin-top: 90%;
    font-size: 9px;
  }
  .events-info {
    font-size: 12px;
  }
  #text-footer-p-email {
    font-size: 7px;
  }
  #footer-email-span {
    font-size: 5px;
  }
}
/*# sourceMappingURL=style.css.map */
