body, html {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Yantramanav', sans-serif;
    scroll-behavior: smooth;
}
.arrow {
    cursor: pointer;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
 }
.down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgb(3, 1, 8);
    width: 100%;
    height: 6%;
    text-shadow: 20px;
    text-decoration: none;
}
.navbar a {
    color: rgb(255, 255, 255);
    position: relative;
    padding: 11px 40px;
    text-align: center;
    left: 33%;
    top: 25%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.navbar a:hover {
    background-color: rgb(238, 238, 238);
    color: black;
    transition: 0.2s ease-in-out;
}
.navbar .icon {
    width: 100%;
    position: relative;
    top: -30%;
    display: none;
}
.main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #000000;
}
#main-section {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
}
#join-section {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 255, 255);
}
.join-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#join-section-title1text {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 112%;
}
.join-section-li {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 135%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
}
#li-a {
    text-align: justify;
}
#events-section {
    margin-bottom: 0;
    width: 100%;
    height: 50%;
    background-color: #17191b;
}
.events-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#events-section-title1text {
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 160%;
}
.events-section-li {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 184%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
}
#players-section {
    margin-top: 0;
    width: 100%;
    height: 60%;
    background-color: rgb(255, 255, 255);
}
.players-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#players-section-title1text {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 210%;
}
.players-section-li {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 235%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
}
#contact_info {
    height: 50%;
    width: 100%;
    background-color: #17191b;
    color: white;
  }
  .text_footer {
   position: relative;
   width: 100%;
   height: 0%;
   top: 20%;
  }
  #h1_text-foooter-discord {
    margin-top: 0;
    position: relative;
    color: white;
    margin-left: 5%;
  }
  #footer-discord-link {
    color: white;
    cursor: pointer;
  }
  #text_footer-p {
    position: relative;
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 1.5;
    width: 30%;
    margin-left: 5%;
  }
  .text-footer-email {
    margin: 0;
    top: 0;
    position: relative;
    margin-left: 45%;
    line-height: 1.5;
    top: 20%;
  }
  #h1_text-footer-email {
    top: 0;
    position: relative;
    margin-left: 50%;
  }
  #text-footer-p-email {
    color: rgb(131, 131, 131);
    top: 0;
    position: relative;
    margin-left: 50%;
  }
  #footer-email-span {
    color: white;
  }
  .footer-watermark {
    position: relative;
    bottom: 0;
  }
  #watermark {
    font-size: 16px;
    color: rgb(131, 131, 131);
    position: relative;
    margin-left: 42.5%;
    margin-top: 13%;
  }
  #footer-quincymcp {
    font-style: italic;
    font-weight: bold;
  }
  #footer-watermark-span {
    font-style: italic;
  }
    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
  }
  
    /* Track */
    ::-webkit-scrollbar-track {
    background-color: rgb(255, 255, 255);
  }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 1px;
  }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background:  #131313;
  }



