body, html {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Yantramanav', sans-serif;
    scroll-behavior: smooth;
}
.arrow {
    cursor: pointer;
    border: solid rgb(255, 255, 255);
    border-width: 0 4px 4px 0;
    display: inline-block;
    border-radius: 100%;
    padding: 3px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    position: absolute;
    top: 80%;
    left: 48.5%;
 }
.pointer {
  cursor: pointer;
  border: solid rgb(196, 196, 196);
  border-width: 0 4px 4px 0;
  position: absolute;
  top: 82.2%;
  left: 49.65%;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  }
.pointer:hover {
  border: solid rgb(255, 255, 255);
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 8.5px;
  height: 8.5px;
  transition: 0.15s;
}
.navbar {
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 6%;
    text-shadow: 20px;
    text-decoration: none;
}
.navbar a {
    color: rgb(255, 255, 255);
    position: relative;
    padding: 11px 40px;
    text-align: center;
    left: 32.2%;
    top: 25%;
    border-radius: 20px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.navbar a:hover {
    background-color: rgb(238, 238, 238);
    color: black;
    transition: 0.2s ease-in-out;
}
.navbar .icon {
    width: 100%;
    position: relative;
    top: -30%;
    display: none;
}
.main-title {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 3px;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.144);
    box-shadow:  2px 5px 20px rgba(253, 253, 253, 0.137);
}
#main-section {
    width: 100%;
    height: 100%;
    background-image: url(resources/plaguedoctor.jpg);
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
  
}
#join-section {
    /*background-image: url(resources/mysterious_cats_by_amamidori_dc44bdg.png);*/
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55%;
}
.join-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#join-section-title1text {
    color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 112%;
    text-shadow: rgba(255, 255, 255, 0.459) 0px 0px 2px;
}
.join-section-li {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 135%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
.in-active {
  color:rgba(255, 255, 255, 0.069)
}
#li-a {
    text-align: justify;
}
#events-section {
    /*background-image: url(resources/larryscaryqwq_2x.jpg);*/
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 0;
    width: 100%;
    height: 65%;
}
.events-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#events-section-title1text {
    color: rgb(255, 255, 255);
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 170%;
    text-shadow: rgba(255, 255, 255, 0.459) 0px 0px 2px;
}
.events-section-li {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 194%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
    font-weight: 400;
}
#li-a-name {
  font-weight: 400;
}
#players-section {
    /*background-image: url(resources/scp_131_1167_by_amamidori_dc1r0jf.png);*/
    background-color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    width: 100%;
    height: 70%;
}
.players-section-title1 {
    font-family: 'Roboto', sans-serif;

}
#players-section-title1text {
   color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 27px;
    top: 230%;
    text-shadow: rgba(255, 255, 255, 0.459) 0px 0px 2px;
}
.players-section-li {
    color: white;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 50%;
    top: 255%;
    transform: translate(-50%, -50%);
    width: 40%;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    line-height: 70px;
    text-shadow: rgb(0, 0, 0) 0px 0px 5px;
}
 #li-a-firstplace {
  text-shadow: rgb(255, 251, 0) 4px 4px 20px;
}
#li-a-secondplace {
  text-shadow: rgba(255, 255, 255, 0.842) 4px 4px 20px;
}
#li-a-thirdplace {
  text-shadow: rgba(255, 148, 148, 0.842) 4px 4px 20px;
}
#contact_info {
    height: 50%;
    width: 100%;
    background-color: #0a0a0a;
    color: white;
  }
  .text_footer {
   position: relative;
   width: 100%;
   height: 0%;
   top: 20%;
  }
  #h1_text-foooter-discord {
    margin-top: 0;
    position: relative;
    color: white;
    margin-left: 5%;
  }
  #footer-discord-link {
    color: white;
    cursor: pointer;
  }
  #text_footer-p {
    position: relative;
    color: rgb(131, 131, 131);
    font-size: 20px;
    line-height: 1.5;
    width: 30%;
    margin-left: 5%;
  }
  .text-footer-email {
    margin: 0;
    top: 0;
    position: relative;
    margin-left: 45%;
    line-height: 1.5;
    top: 20%;
  }
  #h1_text-footer-email {
    top: 0;
    position: relative;
    margin-left: 50%;
  }
  #text-footer-p-email {
    color: rgb(131, 131, 131);
    top: 0;
    position: relative;
    margin-left: 50%;
  }
  #footer-email-span {
    color: white;
  }
  #footer-span-webmanager {
    color: #00ff97;
  }
  .footer-watermark {
    position: relative;
    bottom: 0;
  }
  #watermark {
    font-size: 16px;
    color: rgb(131, 131, 131);
    position: relative;
    margin-left: 42.5%;
    margin-top: 13%;
  }
  #footer-quincymcp {
    font-style: italic;
    font-weight: bold;
  }
  #footer-watermark-span {
    font-style: italic;
  }
    /* scrollbar */
    /* width */
    ::-webkit-scrollbar {
    width: 10px;
  }
  
    /* Track */
    ::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
  }
  
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background:  #000000;
  }



