$fullWidth: 100%;
$fullHeight: 100%;
$fontColorDef: rgb(255, 255, 255);
$backgroundColorDef: rgb(9, 9, 9);
$FontFamilyBarlow: 'Barlow', sans-serif;
html {
width: $fullWidth;
height: $fullHeight;
scroll-behavior: smooth;
}
body {
font-family: $FontFamilyBarlow;
font-weight: 400;
width: $fullWidth;
height: $fullHeight;
color: $fontColorDef;
background-color: $backgroundColorDef;
margin: 0;
overflow-x: hidden;
}
.navbar {
background-color: rgba(255, 0, 0, 0);
position: fixed;
width: $fullWidth;
height: 6%;
top: 0;
z-index: 1;
user-select: none;
transition: 0.3s;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
a {
    transition: 0.3s;
    filter:blur(0.44px);
    position: relative;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    padding: 11px 40px;
    left: 34%;
    top: 25%;
    color: white;
    border-radius: 15px;
    &:hover {
        color: rgb(255, 255, 255);
        text-shadow: rgba(255, 255, 255, 0.452) 0px 0px 5px;
        font-size: 20px;
        font-weight: 400;
        transition: 0.2s;
  }
 }
}
#li-a {
    text-align: justify;
}
.parallax {
    /* The image used */
    background-image: url('resources/computerreducedfig1.gif');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.main-title {
position: absolute;
transform: translate(-50%, -50%);
top: 50%;
left: 50%;
width: 80%;
padding: 5px;
text-align: center;
border: 2px solid #ffffff;
user-select: none;
-moz-user-select: none;
-khtml-user-select: none;
-webkit-user-select: none;
-o-user-select: none;
h1 {
    color: $fontColorDef;
    font-size: 60px;
    text-shadow: rgb(255, 255, 255) 0px 0px 4px;
 }   
h2 {
    font-size: 20px;
}
}

#main-s {
width: $fullWidth;
height: $fullHeight;
background-color: black;
background-repeat: no-repeat;
background-size: cover;
}

@import "./_join-s";

@import "./event-s";

@import "./community-s";

@import "./scroll";

@import "./footer";

@import "./media/media-fullhd";

@import "./media/media-phone";
