@media screen and (max-width: 1000px) {
.navbar {
    a {
        opacity: 0;
    }
}
.main-title {
    top: 20%;
    h1 {
        font-size: 40px;
     }   
    }
    .join-s-title {
        font-size: 20px;
        h3 {
            font-size: 20px;
         }
        }
    .join-s-title {
        font-size: 20px;
        }
        .join-s-li {  
                li {
                    top: 78%;
                    font-size: 12px;
                }
            }
            .join-s-li2 {
            height: 50%;
                li {
                    top: 45%;
                    font-size: 12px;
            
                }
            }
            #join-s-title-h4 {
                font-size: 20px;
                }


.event-s-title {
        font-size: 20px;
   }
   .event-s-li {    
    li {
        font-size: 15px;
        left: 60%;
        line-height: 100px;
    }
}
.events-info {
    top: 262%;
  }

.community-s-title {
    font-size: 20px;
    }
    .community-s-li {  
        height:600px; 
            li {
                font-size: 15px;
                left: 65%;
                top: 20%;
                line-height: 110px;
            }
        }
        #contact_info {
            height: 100%;;
          }
        #text_footer-p {
            font-size: 10px;
          }
          #watermark {
            margin-top: 90%;
            font-size: 9px;
          }
          .events-info {
              font-size: 12px;
          }
          #text-footer-p-email {
              font-size: 7px;
          }
          #footer-email-span {
              font-size: 5px;
          }
}
